<footer id="footer">
  <div class="container mx-auto px-4">
    <div class="max-w-5xl mx-auto">
      <div class="grid grid-cols-12 gap-4">
        <div class="col-span-12 lg:col-span-6">
          <a class="footer__logo" href="{{ site.url }}" aria-label="Cudos Creative.">
            <img src="{{ theme.link ~ '/static/orange_logo.png' }}" alt="Cudos Creative.">
          </a>

          <p class="footer__details mt-6">
            <strong>A</strong> Unit 8B Wrens Court, 54 Victoria Road, Sutton Coldfield, Birmingham, B72 1SY<br>
            <strong>T</strong> 0121 227 4175<br>
            <strong>E</strong> <a href="mailto:studio@cudoscreative.co.uk">studio@cudoscreative.co.uk</a>
          </p>
        </div>

        <div class="col-span-12 lg:col-span-4">
          <a class="charity" href="https://cudoscreative.co.uk/sustainability/" target="_blank" rel="noopener">
            <img src="{{ theme.link ~ '/static/charity.png' }}" alt="Our Charity of the Year.">
          </a>
        </div>

        <div class="col-span-12 lg:col-span-2 flex lg:justify-end">
          <ul class="social">
            {% if social_links.facebook %}
            <li>
              <a href="{{ social_links.facebook }}" target="_blank" title="Follow us on Facebook. Opens in a new tab.">
                {{ source('/static/svg/facebook.svg' ) }}
              </a>
            </li>
            {% endif %}
            
            {% if social_links.linkedin %}
            <li>
              <a href="{{ social_links.linkedin }}" target="_blank" title="Follow us on LinkedIn. Opens in a new tab.">
                {{ source('/static/svg/linkedin.svg' ) }}
              </a>
            </li>
            {% endif %}

            {% if social_links.instagram %}
            <li>
              <a href="{{ social_links.instagram }}" target="_blank" title="Follow us on Instagram. Opens in a new tab.">
                {{ source('/static/svg/instagram.svg' ) }}
              </a>
            </li>
            {% endif %}
          </ul>
        </div>
      </div><!-- /.grid -->

      <div class="footer__copy mt-4">
        <p>&copy; {{ 'now'|date('Y') }} | All Rights Reserved</p>
      </div>  
    </div><!-- /.m-w -->
  </div><!-- /.container -->
</footer>