{% for block in layout %}
  <div class="layout__block 
  {{ block.settings.remove_top_padding ? '' : 'pt-24' }}
  {{ block.settings.remove_bottom_padding ? '' : 'pb-24' }}
  bg-{{ block.settings.background }} {{ block.settings.parallax ? 'parallax' : '' }}"
    {% include 'partials/block-conditionals.twig' %}
  >
    {% include "blocks/" ~ block.acf_fc_layout ~ ".twig" %}

    {% if block.settings.parallax %}
      <img class="parallax__image" src="{{ get_image(block.settings.background_image).src }}" alt="{{ get_image(block.settings.background_image).alt }}">
    {% endif %}
  </div>
{% endfor %}