{% if menu %}
    <ul class="menu">
      {% for item in items %}
        <li class="{{ item.classes|join(' ') }}" style="--animation-order: {{ loop.index }}">
          <a target="{{ item.target }}" href="{{ item.link }}">{{ item.title }}</a>
          {% if item.children %}
            {% include 'partials/menu-child.twig' with {
                items: item.children
            } %}
          {% endif %}
        </li>
      {% endfor %}
    </ul>
{% endif %}
