<div class="container px-4 mx-auto text-center">
  <div class="text-center pb-6">
    <h2>{{ block.title }}</h2>
  </div>
</div>

<div class="container px-4 mx-auto max-w-5xl">
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-0">
    {% if block.case_studies %}
      {% set case_studies = get_posts(block.case_studies) %}
    {% else %}
      {% set case_studies = get_case_studies(3) %}
    {% endif %}

    {% for item in case_studies %}
      <a class="card" href="{{ item.link }}" data-aos="fade-left" data-aos-delay="{{ ( loop.index - 1 ) * 3 }}00">
        <img src="{{ get_image(item.thumbnail).src|resize(500, 500, 'center') }}" alt="{{ get_image(item.thumbnail).alt }}">
        <div class="card__overlay">
          {{ item.title }}
        </div>
      </a>
    {% endfor %}
  </div>

  <div class="text-center pt-6" data-aos-delay="{{ block.icons|length }}00">
    {% include 'partials/button.twig' %}
  </div>
</div>