<div class="container mx-auto px-4">
  <div>

  </div>

  <div class="container px-4 mx-auto max-w-5xl pb-24">

    <div class="filters">
      <button class="active" data-filter="*">Show all</button>
      {% for item in get_creation_terms() %}
        <button data-filter="{{ item.slug }}">{{ item.name }}</button>
      {% endfor %}
    </div>

    <div class="creations">
      {% for item in get_case_studies(-1) %}
        <a class="card creations-item {% for term in item.terms %}filter-{{ term.slug }} {% endfor %}" href="{{ item.link }}">
          <img src="{{ get_image(item.thumbnail).src|resize(500, 500, 'center') }}" alt="{{ get_image(item.thumbnail).alt }}">
          <div class="card__overlay">
            {{ item.title }}
          </div>
        </a>
      {% endfor %}
    </div>
  </div>
</div>